Source: ros-hydro-moveit-full-pr2
Section: misc
Priority: extra
Maintainer: "Ioan Sucan <isucan@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-hydro-moveit-full-pr2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-moveit-full, ros-hydro-moveit-pr2
Description: All MoveIt components, plugins and PR2-specific plugins
